@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serf;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #03a9f4;
  transition: 1s;
}

.container {
  position: relative;
  width: 800px;
  height: 400px;
  background: rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .box {
  position: relative;
  width: 50%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}
.container .box h2 {
  color: white;
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 10px;
}
.container .box button {
  cursor: pointer;
  padding: 10px 20px;
  color: #333;
  font-weight: 500;
  font-size: 16px;
  border: none;
  outline: none;
}
.container {
  margin-right: 10%;
}
.formBx {
  position: absolute;
  left: 50px;
  width: 350px;
  height: 480px;
  background: white;
  z-index: 1000;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
  transition-delay: 0.5s;
  overflow: hidden;
}
.slide {
  background: #f43648;
}
.slide .formBx {
  left: 400px;
}
.formBx .form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  background: white;
}
.formBx .form.signupform {
  top: 100%;
  transition-delay: 0s;
}
.slide .formBx .form.signupform {
  top: 0%;
  transition-delay: 1s;
}
.formBx .form.signinform {
  top: 0%;
  transition-delay: 1s;
}
.slide .formBx .form.signinform {
  top: -100%;
  transition-delay: 0s;
}
.formBx .form form {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  width: 100%;
}
.formBx .form form h3 {
  font-size: 1.4em;
  color: #333;
  margin-bottom: 20px;
  font-weight: 600;
}
.formBx .form form input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  outline: none;
  font-size: 0.8em;
  text-transform: uppercase;
  border: 1px solid #333;
  letter-spacing: 0.1em;
}
.formBx .form form input[type="submit"] {
  background: #03a9f4;
  border: none;
  color: white;
  max-width: 100%;
  cursor: pointer;
  font-weight: 500;
}
.formBx .signupform form input[type="submit"] {
  background: #f43648;
}
.forgot {
  color: #333;
  letter-spacing: 0.05em;
  font-size: 0.8em;
}
.logo {
  align-self: flex-start;
  margin-top: 3%;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 30px;
}
.logo > a {
  text-decoration: none;
  color: black;
}
